@model IEnumerable<Cosmetic.Models.UserProduct>

@{
    ViewBag.Title = "我的商品";
    List<Cosmetic.Models.Mission> missions = ViewBag.MissionState;
}
<div class="userProductIndex">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Min)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th></th>
            </tr>
        </thead>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Min)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @*@if (item.Type == Cosmetic.Enums.UserType.One)
                    {
                        var mission = missions.FirstOrDefault(s => s.DataID == item.ProductID);
                        <span>
                            @if (mission == null || mission.State == Cosmetic.Enums.MissionState.Failed)
                            {
                                @Html.ActionLink("申请升级为特级", "Create", "Mission", new { dataId = item.ProductID }, null)
                            }
                            else
                            {
                                @Html.ActionLink("查看任务记录", "Index", "Mission", new { dataId = item.ProductID }, null)
                            }
                            |
                        </span>
                    }*@
                    @Html.ActionLink("下单", "Details", "Product", new { id = item.ProductID }, null)
                </td>
            </tr>
        }
    </table>
</div>