@model IEnumerable<Cosmetic.Models.UserProductViewModel>

@{
    ViewBag.Title = "我的下级";
    var paged = (PagedList.IPagedList)Model;
    var lstRank = Enum.GetValues(typeof(Cosmetic.Enums.UserType));
    string selRank = "所有等级";
    Cosmetic.Enums.UserType tempRank;
    if (Enum.TryParse<Cosmetic.Enums.UserType>(Request["Rank"], out tempRank))
    {
        selRank = tempRank.GetDisplayName();
    }
    string isr = "下级";
    bool isrecommend = false;
    if (bool.TryParse(Request["isRecommend"], out isrecommend))
    {
        if (isrecommend)
        {
            isr = "直推";
        }
    }
}
<div class="userProduct">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="@Url.Action("RegisterByUser","Account")">添加下级</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            @isr
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="isrecommend" data-type="@false">下级</a>
                            </li>
                            <li>
                                <a class="isrecommend" data-type="@true">直推</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@selRank <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="rank" data-type="">所有等级</a>
                            </li>
                            @foreach (Cosmetic.Enums.UserType item in lstRank)
                            {
                                <li>
                                    <a class="rank" data-type="@((int)item)">@item.GetDisplayName()</a>
                                </li>
                            }
                        </ul>
                    </li>
                </ul>
                <div class="navbar-form navbar-left">
                    <div class="form-group">
                        @Html.Hidden("isRecommend", Request["isRecommend"])
                        @Html.Hidden("Rank",Request["Rank"])
                        <input id="txtFilter" type="text" class="form-control" placeholder="手机号/姓名" value="@Request["filter"]">
                    </div>
                    <button id="btnSearch" type="button" class="btn btn-default">搜索</button>
                </div>
            </div>
        </div>
    </nav>

    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RealName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rank)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RecommendName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ParentName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Count)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RegisterDateTime)
                </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RealName)
                </td>
                <td>
                    @item.Rank.GetDisplayName()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecommendName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegisterDateTime)
                </td>
            </tr>
        }
        @if (paged.IsLastPage)
        {
            <tfoot>
                <tr>
                    <td>总共人数</td>
                    <td>@ViewBag.Count 人</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
        }

    </table>
    @Html.PageList(paged, Url.PageUrl())
</div>
@section Scripts{
    @Scripts.Render("~/Bundles/userProductTeam")
}
