@model Cosmetic.Models.Return

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Return</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Order.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceiptTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiptTime)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
