@model IEnumerable<Cosmetic.Models.ApplicationUser>

@{
    ViewBag.Title = "查询团队";
    var paged = (PagedList.IPagedList)Model;
}
<div class="userGetTeam">
    <ol class="breadcrumb">
        <li>@Html.ActionLink("用户管理", "Index")</li>
        <li class="active">查询团队</li>
    </ol>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" value="@Request["name"]" placeholder="会员号">
                    </div>
                    @Html.ActionLink("查询直推", "GetTeam", new { name = Request["name"], type = true }, new { @class = "btn btn-default" })
                    @Html.ActionLink("查询下级", "GetTeam", new { name = Request["name"], type = false }, new { @class = "btn btn-default" })
                </form>
            </div>
        </div>
    </nav>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>
                    手机号码
                </th>
                <th>
                    用户名
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RealName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IDCard)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bank)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BankCard)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RegisterDateTime)
                </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RealName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IDCard)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bank)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BankCard)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegisterDateTime)
                </td>
            </tr>
        }
        @if (paged.IsLastPage)
        {
            <tfoot>
                <tr>
                    <td>合计</td>
                    <td>
                        @ViewBag.Count 人
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
        }
    </table>
</div>
@Html.PageList(paged,Url.PageUrl())

@section Scripts{
    <script>
        new searchUser({ target: "#name" });
    </script>
}