@model Cosmetic.Models.Supplier

@{
    ViewBag.Title = "供应商明细";
}

<div class="supplierDetails">
    <ol class="breadcrumb">
        <li>@Html.ActionLink("供应商列表", "Index")</li>
        <li class="active">@Model.Name</li>
    </ol>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contacts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contacts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bank)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankCard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankCard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
        </dt>

        <dd>
            @Html.ActionLink("编辑", "Edit", new { id = Model.ID })
        </dd>

    </dl>
</div>
