@model IEnumerable<Cosmetic.Models.SupplierProduct>

@{
    ViewBag.Title = "库存管理";
    var page = (PagedList.IPagedList<Cosmetic.Models.SupplierProduct>)Model;
    var product = (List<SelectListItem>)ViewBag.Product;
    var supplier = (List<SelectListItem>)ViewBag.Supplier;
    string p_s = "全部商品", s_s = "全部供应商";
    string p_id = Request["pid"], s_is = Request["sid"];
    if (Request["pid"] != null && Request["pid"] != "")
    {
        p_s = product.FirstOrDefault(s => s.Value == Request["pid"]).Text;
    }
    if (Request["sid"] != null && Request["sid"] != "")
    {
        s_s = supplier.FirstOrDefault(s => s.Value == Request["sid"]).Text;
    }
}
<div class="supplierProductIndex">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("添加库存", "Create")</li>
                    <li class="dropdown">
                        <a data-val="@p_id" class="dropdown-toggle product_a" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                           @p_s <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="product" data-val="">全部商品</a>
                            </li>
                            @foreach (var item in product)
                            {
                                <li>
                                    <a class="product" data-val="@item.Value">@item.Text</a>
                                </li>
                            }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a data-val="@s_is" class="dropdown-toggle supplier_a" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                         @s_s   <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="supplier" data-val="">全部供应商</a>
                            </li>
                            @foreach (var item in supplier)
                            {
                                <li>
                                    <a class="supplier" data-val="@item.Value">@item.Text</a>
                                </li>
                            }
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Product.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Supplier.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Count)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Send)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Remaining)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreateTime)
                </th>
                <th>
                    操作
                </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Send)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remaining)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateTime)
                </td>
                <td>
                    @Html.ActionLink("查看库存明细", "Index","Stock",new { pid=item.ProductID},null) |
                    @Html.ActionLink("详情", "Details", new { id = item.ID })
                </td>
            </tr>
        }
        <tfoot>
            @{
                var list = Model.GroupBy(s => s.Product.Name).Select(s => new
                {
                    Name = s.Key,
                    Count = s.Sum(q => q.Count),
                    Send= s.Sum(q => q.Send),
                    Remaining = s.Sum(q => q.Remaining),
                });
            }
            @foreach (var item in list)
            {
                <tr>
                    <td>
                        结存
                    </td>
                    <td>@item.Name</td>
                    <td></td>
                    <td>@item.Count</td>
                    <td>@item.Send</td>
                    <td>@item.Remaining</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }
            <tr>
                <td>
                    总合计
                </td>
                <td></td>
                <td></td>
                <td>@Model.Sum(s => s.Count)</td>
                <td>@Model.Sum(s => s.Send)</td>
                <td>@Model.Sum(s => s.Remaining)</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tfoot>
    </table>
    @Html.PageList(page, Url.PageUrl())
</div>

@section Scripts {
    @Scripts.Render("~/bundles/supplierProductIndex")
}
