@model IEnumerable<Cosmetic.Models.StockViewModel>

@{
    ViewBag.Title = "库存明细";
    var paged = (PagedList.IPagedList)Model;
}
<div class="stockIndex">
    <ol class="breadcrumb">
        <li>@Html.ActionLink("库存管理", "Index", "SupplierProduct")</li>
        <li class="active">库存明细</li>
    </ol>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("导出", "IndexExport", new { page = Request["page"], pid = Request["pid"], name = Request["name"] })</li>
            </ul>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                @using (Html.BeginForm("Index", "Stock", FormMethod.Get, new { @class = "navbar-form navbar-left" }))
                {
                    @Html.Hidden("pid", Request["pid"])
                    <div class="form-group">
                        <input name="name" type="text" class="form-control" placeholder="会员号" value="@Request["name"]">
                    </div>                    
                    <button type="submit" class="btn btn-default">搜索</button>
                }
            </div>
        </div>
    </nav>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CreateTime)
                </th>
                <th>进出单号</th>
                <th>
                    @Html.DisplayNameFor(model => model.Product.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Count)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Supplier)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rank)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateTime)
                </td>
                <td>@Html.DisplayFor(modelItem => item.NO)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @item.Type.GetDisplayName()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier)
                </td>
                <td>
                    @if (item.Rank.HasValue)
                    {
                        @item.Rank.GetDisplayName()
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
            </tr>
        }
        <tfoot>
            <tr>
                <td>
                    存结
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    @Model.Sum(s => s.Count)
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tfoot>
    </table>
    @Html.PageList(paged, Url.PageUrl())
</div>

@section Scripts {
    <script>
        new searchUser({ target: "[name=name]" });
    </script>
}


