@model IEnumerable<Cosmetic.Models.AccountModify>

@{
    ViewBag.Title = "取消记录";
    var paged = (PagedList.IPagedList)Model;
}
<ol class="breadcrumb">
    <li><a href="@Url.Action("Index")">资金管理</a></li>
    <li class="active">取消记录</li>
</ol>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Account.AccountKind.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account.UpdateDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account.Fee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account.BankAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account.BankName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account.BankCard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account.Remark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remark)
            </th>
        </tr>
    </thead>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(model => item.Account.AccountKind.Name)
        </td>
        <td>
            @Html.DisplayFor(model => item.Account.UpdateDateTime)
        </td>
        <td>
            @Html.DisplayFor(model => item.Account.Amount)
        </td>
        <td>
            @Html.DisplayFor(model => item.Account.Fee)
        </td>
        <td>
            @Html.DisplayFor(model => item.Account.BankAccount)
        </td>
        <td>
            @Html.DisplayFor(model => item.Account.BankName)
        </td>
        <td>
            @Html.DisplayFor(model => item.Account.BankCard)
        </td>
        <td>
            @Html.DisplayFor(model => item.Account.Remark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remark)
        </td>
    </tr>
}
    
</table>
