@model Cosmetic.Models.Staff

@{
    ViewBag.Title = "删除员工";
}
<ol class="breadcrumb">
    <li><a href="@Url.Action("Index")">员工管理</a></li>
    <li class="active">添加</li>
</ol>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Department.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Work)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Work)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDCard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDCard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BasicSalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BasicSalary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlusSalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlusSalary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeductSalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeductSalary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntryTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryTime)
        </dd> 

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" />
        </div>
    }
</div>
