@model IEnumerable<Cosmetic.Models.ApplicationUser>

@{
    ViewBag.Title = "管理员管理";
    var page = (PagedList.IPagedList<Cosmetic.Models.ApplicationUser>)Model;
}
<div class="insideIndex">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("添加管理员", "RegisterAdmin", "Account")</li>
                    <li>@Html.ActionLink("分组管理", "Index", "RoleManage")</li>
                </ul>
            </div>
        </div>
    </nav>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>
                    用户名
                </th>
                <th>
                    手机号码
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RealName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IDCard)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bank)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BankCard)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoleGroup)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RegisterDateTime)
                </th>
                <th></th>
            </tr>

        </thead>
       
        @foreach (var item in Model)
        {
            <tr>                
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RealName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IDCard)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bank)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BankCard)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleGroup)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegisterDateTime)
                </td>
                <td>
                    @Html.ActionLink("编辑", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("删除", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
    @Html.PageList(page, Url.PageUrl())

</div>
